<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=accelerateUu5f9;pwd=8F!6O.r$_9$E;Database=acceleratemktsqldb" name="acceleratemktsqldb" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
